<template>
    <require from="../components/navmenu/navmenu.html"></require>
    <require from="../components/navmenu/mobile"></require>
    <require from="./main.css"></require>

    <div class="wrapper">
        <div class="sidebar" data-color="black" data-image="../img/sidebar.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                    Atmosphere
                </a>
                </div>
                <navmenu router.bind="router"></navmenu>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" click.delegate="toggleMobileNav()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <span class="navbar-brand">${router.currentInstruction.config.navModel.title}</span>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" click.delegate="signOut()">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="//atmospherehub.com">
                                Home
                            </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2017 <a href="//atmospherehub.com">Atmosphere</a> made with <i title="love" class="fa fa-heart-o"></i>                        for a better mood
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <mobile router.bind="router" show-mobile-nav.bind="showMobileNav"></mobile>
</template>