<template>
    <require from="../spinner/spinner.html"></require>
    <div class="card">
        <div class="header">
            <h4 class="title">Moods Averages <spinner show.bind="isLoading"></spinner></h4>
        </div>
        <div class="content">            
            <div class="chart-container" style="position: relative; height:280px">
                <canvas></canvas>
            </div>
            <div class="footer"> 
                <hr>
                <div class="stats"><span><i class="fa fa-info-circle"></i> An average score of each mood</span></div>
            </div>
        </div>
    </div>
</template>