<template>
    <require from="../components/charts/mood-averages"></require>
    <require from="../components/charts/mood-dominants"></require>
    <require from="../components/charts/mood-hourly"></require>

    <div class="row">
        <div class="col-md-9">
            <mood-averages></mood-averages>
        </div>
        <div class="col-md-3">
            <mood-hourly></mood-hourly>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mood-dominants></mood-dominants>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</template>