<template>
    <require from="./dashboard.css"></require>
    <require from="../components/date-range/date-range"></require>
    <require from="../components/moods-selection/moods-selection"></require>
    <require from="../components/charts/mood-averages"></require>
    <require from="../components/charts/mood-dominants"></require>
    <require from="../components/charts/mood-hourly"></require>
    <require from="../components/charts/people-together"></require>
    <require from="../components/charts/neutral-percent"></require>

    <div class="row">
        <div class="col-md-12">
            <date-range selected-range.bind="selectedRange"></date-range>
            <moods-selection selected-moods.bind="selectedMoods"></moods-selection>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <mood-averages selected-moods.bind="selectedMoods" selected-range.bind="selectedRange"></mood-averages>
        </div>
        <div class="col-md-3">
            <mood-hourly selected-moods.bind="selectedMoods" selected-range.bind="selectedRange"></mood-hourly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mood-dominants selected-moods.bind="selectedMoods" selected-range.bind="selectedRange"></mood-dominants>
        </div>
        <div class="col-md-3">
            <people-together selected-moods.bind="selectedMoods" selected-range.bind="selectedRange"></people-together>
        </div>
        <div class="col-md-3">
            <neutral-percent selected-moods.bind="selectedMoods" selected-range.bind="selectedRange"></neutral-percent>
        </div>
    </div>
</template>