<template>
    <require from="./dashboard.css"></require>
    <require from="../components/date-range/date-range"></require>
    <require from="../components/moods-selection/moods-selection"></require>
    <require from="../components/charts/mood-averages"></require>
    <require from="../components/charts/mood-dominants"></require>
    <require from="../components/charts/mood-hourly"></require>
    <require from="../components/charts/people-together"></require>
    <require from="../components/charts/neutral-percent"></require>

    <div class="row">
        <div class="col-md-12">
            <date-range></date-range>
            <moods-selection></moods-selection>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <mood-averages></mood-averages>
        </div>
        <div class="col-md-3">
            <mood-hourly></mood-hourly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mood-dominants></mood-dominants>
        </div>
        <div class="col-md-3">
            <people-together></people-together>
        </div>
        <div class="col-md-3">
            <neutral-percent></neutral-percent>
        </div>
    </div>
</template>