<template>
    <require from="../components/spinner/spinner.html"></require>
    <require from="./photos.css"></require>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="${/}" class="btn btn-default pull-left"><i class="fa fa-angle-double-left"></i>Back</a>
                        </div>
                        <div class="col-md-4">                            
                            <h2 class="title" show.bind="_isLoading">Loading images...</h2>
                            <h2 class="title" show.bind="!_isLoading">${_data.length | imageCount:_currentDate}</h2>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default pull-right"><i class="fa fa-chevron-right"></i></button>
                            <button type="button" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i></button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" repeat.for="face of _data">
                            <div class="image-wrapper">
                                <a href="${face.originalImage}" target="_blank" click.delegate="showImage(face)">
                                    <img src="${face.url}" alt="" />
                                </a>
                                <span> | ${face.date }</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>